.formPlaceholder .js-t4form-container .form-group.list-options .col-xs-12 {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto
}

div.js-t4form-container div.radio+.radio {
    margin-top: auto;
}

div.js-t4form-container div.checkbox+.checkbox {
    margin-top: auto;
}
