/** grid overrides for radio buttons and checkboxes **/

div.formPlaceholder form {
    font-size: 1.6rem;
}

.formPlaceholder .js-t4form-container .form-group.list-options .col-xs-12 {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto
}

div.js-t4form-container div.radio+.radio {
    margin-top: auto;
}

div.js-t4form-container div.checkbox+.checkbox {
    margin-top: auto;
}



/** Small and Mobile Screens **/

@media (max-width: 575.98px) {
    .formPlaceholder form {
        font-size: small;
    }
}

@media (orientation:portrait) {
    .formPlaceholder form {
        font-size: small;
    }
}

/* @media (min-width: 575.98px) {
    .formPlaceholder form {
        font-size: inherit;
    }
} */

/* @media (orientation:landscape) {
    .formPlaceholder form {
        font-size: small;
    }
} */