.form-group {
      display: block;
      width: 100%;
}

.form-group #form-field-radio-34749 {
    display: block;
    min-width: calc(30% - 10px);
    float: left;
}

.form-group #form-field-radio-34749:nth-child(2n + 1){
    clear: left;
}